@import "vendor/variables";

// Spacing

$big-spacing:            50px;

// Colors

$logo-color:            $brand-primary;
$logo-shadow:           darken($brand-primary, 20%) !default;

$body-color:            lighten(#000, 70%) !default;

$content-border-color:        #e5e5e5 !default;
$footer-background-color:     $logo-shadow;
$footer-text-color:           white !default;
$footer-bottom-border:        darken($footer-background-color, 17%) !default;
$footer-bottom-color:         lighten(#000, 80%) !default;