@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

@import "vendor/variables";
@import "custom-variables";

// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

// Remember this for all partials!
// @import "partials/blahfile";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $body-color;
}

.header {
  border-bottom: 1px solid $content-border-color;

  .logo {
    color: $brand-primary;
    font-family: 'Kaushan Script', cursive;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 1px $logo-shadow;
    filter: dropshadow(color=$logo-shadow, offx=2, offy=2);
    text-decoration: underline;
  }
}

.out-of-date-warning {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.the-fine-print {
  font-size: 0.8em;
  color: $gray-light;
}

#start-button {
  font-size: 1.2em;
  margin-right: 40px;
}

// FOOTER
.footer, .footer a {
  color: $footer-text-color;
}

.footer {
  margin-top: $big-spacing;
  position: relative;
  background: $footer-background-color;

  /* adding the left and right fills out to the page edges */
  .text-left::before, .text-right::after {
    content: "";
    background: $footer-background-color;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 9999em;
  }

  /* left side fill to edge */
  .text-left::before{
    margin-left: -9999em;
  }

  /* right side fill to edge */
  .text-right::after  {
    margin-left: 0;
  }
}

/* below the footer we want three colored stripes */
.footer::after {
  border-top: 10px $footer-bottom-dark solid;
  background: $footer-bottom-gray;
  border-bottom: 20px $footer-bottom-light solid;
  width: 9999em;
  margin-left: -50%;
  height: 50px;
}

// END FOOTER

// utilities
.col-centered{
  float: none;
  margin: 0 auto;
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}