@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import "variables";
// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

// Remember this for all partials!
// @import "partials/blahfile";

.brand-colors {
  color: $brand-primary;
}

.out-of-date-warning {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  border-bottom: 1px solid $content-border-color;

  .logo {
    color: $brand-primary;
    font-family: 'Kaushan Script', cursive;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 1px $logo-shadow;
    filter: dropshadow(color=$logo-shadow, offx=2, offy=2);

    a {
      text-decoration: none;
    }
  }
}

body {
  overflow-x: hidden;
}

// FOOTER
.footer, .footer a {
  color: $footer-text-color;
}

.footer {
  margin-top: $big-spacing;
  position: relative;
  background: $footer-background-color;

  .text-left::before, .text-right::after {
    content: "";
    background: $footer-background-color;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 9999em;
  }

  .text-left::before{
    margin-left: -9999em;
  }

  .text-right::after  {
    margin-left: 0;
  }
}

// END FOOTER