#parchment {
    width:430px;
    height:300px;
    background-image: url(../images/parchment.png);
    margin: 150px auto 0 auto;
    z-index: 1000;
}

#parchment-content {
    width: 300px;
    margin-left: 65px;
    margin-right: 65px;
    padding-top: 55px;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
}

.btn-modal-right {
    @extend .pull-right;
}

.btn-modal-left {
    @extend .pull-left;
}

/* hack to fix angular ui bootstrap bug with disappearing modals */
.modal {
    display: block;
}
