

/* thank you SO (http://stackoverflow.com/a/24829651) for what follows: */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    z-index: -1000;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
