<table id="game-pad">
    <tr>
        <td class="unselectable"></td>
        <td class="unselectable"><a ng-click="move('up')"><i class="pointer fa fa-4x fa-chevron-circle-up"></i></a></td>
        <td class="unselectable"></td>
    </tr>
    <tr>
        <td class="unselectable"><a ng-click="move('left')"><i class="pointer fa fa-4x fa-chevron-circle-left"></i></a></td>
        <td class="unselectable"><a ng-click="move('down')"><i class="pointer fa fa-4x fa-chevron-circle-down"></i></a></td>
        <td class="unselectable"><a ng-click="move('right')"><i class="pointer fa fa-4x fa-chevron-circle-right"></i></a></td>
    </tr>
</table>
