<p>
    <span>Congratulations! You finished the level in {{ vm.getMoves() }} move{{ vm.getMoves() !== 1 ? "s" : ""}}.</span>
</p>

<p>
                <span>You can continue to the next level, or restart this level to see if you can beat
                    your score!</span></p>
<br/>

<p>
    <a class="btn btn-success btn-modal-left" ng-click="vm.restartLevel()">
        Restart&nbsp;&nbsp;<i class="fa fa-refresh fa-1x"></i>
    </a>

    <a class="btn btn-success btn-modal-right" ng-click="vm.nextLevel()">
        Level Up&nbsp;&nbsp;<i class="fa fa-angle-double-right fa-1x"></i>
    </a>
</p>
