<div class="modal fade" id="settings-modal" tabindex="-1" data-keyboard="false" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div id="parchment">
                <div id="parchment-content">
                    <p>
                        <sw-skin-selector callback="vm.setSkin"></sw-skin-selector>
                    </p>
                    <p>
                        <a id="restart-level-button" class="btn btn-success center-block" ng-click="vm.restartLevel()">
                            Restart&nbsp;&nbsp;<i class="fa fa-refresh fa-1x"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
