@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

@import "vendor/variables";
@import "custom-variables";
@import "utilities";

// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Remember this for all partials!
@import "views/_start";
@import "views/_play";

@import "partials/_parchment-modal";

@import "directives/sw-game-pad";
@import "directives/sw-skin-selector";
@import "directives/sw-collection-selector";
@import "directives/sw-settings";
@import "directives/sw-score-board";

@import "footer";

/* Space out content a bit and set the bg */
body {
  padding-top: $standard-spacing;
  padding-bottom: $standard-spacing;
  background: $body-bg;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  border-bottom: 1px solid $content-border-color;

  #logo {
    color: $brand-primary;
    font-family: 'Kaushan Script', cursive;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 1px $logo-shadow;
    filter: dropshadow(color=$logo-shadow, offx=2, offy=2);
    text-decoration: underline;
  }
}

#view {
    padding-top: $standard-spacing;
}

.out-of-date-warning {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.pointer {
    cursor: pointer;
}

.btn {
    font-family: $font-family-sans-serif;
    font-size: 14px;
}

.btn-right-hand {
    @extend .pull-right;
    @extend .u-offset-top;
    @extend .u-offset-right;
}

.btn-left-hand {
    @extend .pull-left;
    @extend .u-offset-top;
    @extend .u-offset-left;
}
