<sw-narrow-page>
    <h3>Welcome to MeanieBan!</h3>

    <p>
        MeanieBan is an AngularJS-based clone of a classic japanese game called <a
        href="http://en.wikipedia.org/wiki/Sokoban" target="_blank">Sokoban</a>, which translates to "warehouse keeper".
    </p>

    <p>
        The object of the game is to move the keeper to push the boxes until they cover all targets in the level.
        Trying to do it in as few moves as possible can be quite challenging and finding the optimal solution can be
        a daunting task.
    </p>

    <b class="the-fine-print">Fine print for developers</b>

    <p class="the-fine-print">
        The game was developed with the goal of using some new-found knowledge of AngularJS. Although the name does
        imply it, the game is
        <emphasize>not</emphasize>
        backed by the technologies that make up the rest of the
        <abbr title="MongoDB, Express, AngularJS and Node.js">MEAN</abbr> acronym. The level data was imported into
        a AngularJS value object by a Node.js script, but that is as far as it goes.
    </p>
    <p class="the-fine-print">
        It has been a learning experience, both with finding out how AngularJS apps work and what tools are out there to
        aid
        in their development. You might find some bugs, I am working on fixing a few, but please use the email link in
        the footer
        to let me know if you find something.
    </p>

    <p class="the-fine-print">
        If you're interested in the source code you can clone it or fork it on <a
        href="https://github.com/simonwendel/meanieban" target="_blank">Github</a>. The game contains content that was not
        created by
        me, please see the <a href="#/attribution">attribution page</a> for details.
    </p>

    <a href="#/start" class="btn btn-success btn-right-hand">
        Play Game&nbsp;&nbsp;<i class="fa fa-gamepad fa-1x fa-rotate-45"></i>
    </a>
</sw-narrow-page>
