<!-- this guards the view from triggering exceptions in child directives when gameKeeper is not ready -->
<div ng-if="vm.initialized()">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <sw-sokoban-grid class="col-centered" keydown="vm.keydown" grid="vm.grid()"
                             skin="vm.skin"></sw-sokoban-grid>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <div id="moves" class="pull-left">
                <sw-score-board counter="vm.getMoves()"></sw-score-board>
            </div>
            <div id="settings" class="pull-right">
                <a ng-click="vm.showSettings()"
                   sw-animate random-intervals="true" first-animation="swing" animations="{{ ['swing'] }}">
                    <i class="pointer fa fa-cog fa-2x"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- <div style="bottom: 0; position: absolute">
     <sw-game-pad move="vm.move"></sw-game-pad>
 </div>-->

    <sw-level-complete show-sign="vm.showLevelComplete()" get-moves="vm.getMoves" next-level="vm.next"
                       restart-level="vm.restart"></sw-level-complete>
    <sw-settings show-sign-event-name="show-settings-modal" restart-level="vm.restart"
                 set-skin="vm.setSkin"></sw-settings>
</div>
