<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>Welcome to MeanieBan!</h3>

        <p>
            MeanieBan is an AngularJS-based clone of a classic japanese game called <a
                href="http://en.wikipedia.org/wiki/Sokoban">Sokoban</a>, which translates to "warehouse keeper".
        </p>

        <p>
            The object of the game is to move the keeper to push the boxes until they cover all targets in the level.
            Trying to do it in as few moves as possible can be quite challenging and finding the optimal solution can be
            a daunting task.
        </p>

        <b class="the-fine-print">Fine print for developers</b>

        <p class="the-fine-print">
            The game was developed with the goal of using some new-found knowledge of AngularJS. Although the name does
            imply it, the game is
            <emphasize>not</emphasize>
            backed by the technologies that make up the rest of the
            <abbr title="MongoDB, Express, AngularJS and Node.js">MEAN</abbr> acronym. The level data was imported into
            a AngularJS value object by a Node.js script, but that is as far as it goes.
        </p>

        <p class="the-fine-print">
            If you're interested in the source code you can clone it or fork it on <a
                href="http://github.com/simonwendel/blah">Github</a>. The game contains content that was not created by
            me, please see the <a href="#/attribution">attribution page</a> for details.
        </p>

        <p class="pull-right">
            <a id="start-button" href="#/game/1" class="btn btn-success">
                Play Game&nbsp;&nbsp;<i class="fa fa-gamepad fa-1x fa-rotate-45"></i>
            </a>
        </p>
    </div>
    <div class="col-md-3"></div>
</div>